@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,300&display=swap');
:root{
  --line-border-file:#9c27b0;
  --line-border-empty:#dbdbdb;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}


body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  overflow: hidden;
  background: #0c9c90;
}
h1{
  color:#212121;
  margin-bottom: 90px;
}
.container{
  text-align: center;
}

.progress-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
.progress-container::before{
  content: "";
  background-color:var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0; 
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}
.progress{
  background-color:var(--line-border-file);
  position: absolute;
  top: 50%;
  left: 0; 
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.circle{
  background-color: #fff;
  color: #999;
  border-radius:50%;
  height:50px;
  width: 50px;
  border: 3px solid #b2bec3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.circle.active{
  border-color: var(--line-border-file);
}

.btn{
  background-color: var(--line-border-file);
  color: #fff;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:focus{
  outline: none;
}

.btn:active{
  transform: scale(0.97);
}

.btn:disabled{
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

